<a href="https://colab.research.google.com/github/AuroraZhang7/Data-science/blob/master/Moxy_001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

from google.colab import files

In [0]:
uploaded = files.upload()

In [0]:
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

In [0]:
events_df = pd.read_csv("events.csv",sep='\t')

In [0]:
events_df.head()

    event_id                          session_uuid  ...           name sort_order
0  910832586  cd8ed9ff-5a70-46e9-814c-bfb7f7e12292  ...  SESSION_START        100
1  910832587  b52432c4-cb1e-4e2f-b3f2-071f43d487ab  ...  SESSION_START        100
2  910832588  e79e4c80-6898-40df-8bd5-b7d869be28e1  ...  SESSION_START        100
3  910832589  86cc7db6-3450-4574-b189-8b4e20231454  ...  SESSION_START        100
4  910832590  d935557f-b54d-4dcf-843a-e8a1e3f36906  ...  SESSION_START        100

[5 rows x 8 columns]

In [0]:
map_df = pd.read_csv ('map.csv',sep='\t')

In [0]:
map_df.head()

   map_version_id  ...                                           config.1
0          300151  ...  {"scope": "SELECT p.product_id AS product_id, ...
1          300152  ...  {"scope": "SELECT p.product_id AS product_id, ...
2          300153  ...  {"scope": "SELECT p.product_id AS product_id, ...
3          300154  ...  {"scope": "SELECT p.product_id AS product_id, ...
4          300155  ...  {"scope": "SELECT p.product_id AS product_id, ...

[5 rows x 21 columns]

In [0]:
sessons_df = pd.read_csv ("sessons.csv", sep='\t')

In [0]:
sessons_df.head()

                           session_uuid  ...  build_uuid
0  828721f2-d3e3-4765-9c2b-5b9ee3c2f253  ...         NaN
1  2b58e156-7e8f-4ecf-8780-4b79bc982649  ...         NaN
2  5472ca11-8435-45c0-a73d-f2378650f2be  ...         NaN
3  890b38e9-4d45-48df-8fb7-ffb176057f8a  ...         NaN
4  11935837-a27b-4296-8cd4-eb98b57c833c  ...         NaN

[5 rows x 11 columns]

In [0]:
merge_1= map_df.merge(events_df, how='inner', on="map_version_uuid")
merge_1.head()

   map_version_id  map_id  ...                        name_y sort_order
0          300166   20003  ...                    APP_LOADED        102
1          300166   20003  ...  GET_PRODUCTS_IN_BOUNDING_BOX        210
2          300166   20003  ...  GET_PRODUCTS_IN_BOUNDING_BOX        210
3          300166   20003  ...                     MAP_MOVED        211
4          300166   20003  ...  GET_PRODUCTS_IN_BOUNDING_BOX        210

[5 rows x 28 columns]

In [0]:
map_df.shape

(164, 21)

In [0]:
sessons_df.shape

(99377, 11)

In [0]:
merge_1.shape

(11500, 28)

In [0]:
events_df.head()

    event_id                          session_uuid  ...           name sort_order
0  910832586  cd8ed9ff-5a70-46e9-814c-bfb7f7e12292  ...  SESSION_START        100
1  910832587  b52432c4-cb1e-4e2f-b3f2-071f43d487ab  ...  SESSION_START        100
2  910832588  e79e4c80-6898-40df-8bd5-b7d869be28e1  ...  SESSION_START        100
3  910832589  86cc7db6-3450-4574-b189-8b4e20231454  ...  SESSION_START        100
4  910832590  d935557f-b54d-4dcf-843a-e8a1e3f36906  ...  SESSION_START        100

[5 rows x 8 columns]

In [0]:
merge_2 = merge_1.merge(sessons_df, how='inner', on="publisher_id")
merge_2.head()